/* Estilos gerais */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f0f0f0;
  box-sizing: border-box;
}

.app-container {
  max-width: 800px;
  margin: 20px auto;
  padding: 20px;
  background: #ffffff;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.app-title {
  text-align: center;
  margin-bottom: 20px;
}

.app-description{
  text-align: center;
  border-bottom: 1px solid lightgray;
  margin-bottom: 30px;
  padding-bottom: 30px;
}

.task-form {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  margin-bottom: 20px;
}

.task-input,
.task-select,
.task-button {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  flex-grow: 1;
  flex-basis: 100px;
}

.task-button {
  background-color: #007bff;
  color: white;
  cursor: pointer;
  transition: background-color 0.3s;
}

.task-button:hover {
  background-color: #0056b3;
}

.accordion {
  margin-top: 20px;
}

.accordion-item {
  background: #ffffff;
  margin-bottom: 10px;
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  overflow: hidden;
}

.accordion-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
  background-color: #f9f9f9;
  cursor: pointer;
  border-bottom: 1px solid #ddd;
}

.accordion-header:hover {
  background-color: #f1f1f1;
}

.accordion-task-name{
  display: flex;
  gap: 10px;
  align-items: center;
}

.due-date{
  display: inline-block;
  font-size: 12px;
  color: gray;
  font-style: italic;
  border-right: 1px solid gray;
  padding-right: 5px;
}

.square{
  width: 10px;
  height: 10px;
  display: inline-block;
  border-radius: 50%;
}

.square.Baixa{
  background-color: lightgray;
}

.square.Média{
  background-color: orange;
}

.square.Alta{
  background-color: red;
}

.accordion-content {
  padding: 15px;
  background-color: #ffffff;
  display: none;
  flex-direction: column;
  gap: 10px;
}

.accordion-content.show {
  display: flex;
}

.task-remove-button {
  padding: 10px;
  background-color: tomato;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.task-remove-button:hover {
  background-color: crimson;
}

/* Responsividade */
@media (max-width: 640px) {
  .app-container{
    border-radius: 0;
    margin-top: 0;
  }

  .task-form {
    border-bottom: 1px solid lightgray;
    padding-bottom: 30px;
    margin-bottom: 30px;
  }

  .task-input,
  .task-select,
  .task-button {
    flex-basis: 100%;
  }
}

/* Popup */
.popup-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.popup {
  background: white;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  width: 90%;
  max-width: 400px;
  padding: 20px;
  position: relative;
}

.popup-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.popup-header h2 {
  margin: 0;
  font-size: 1.5em;
}

.close-icon {
  font-size: 1.2em;
  cursor: pointer;
  color: gray;
  transition: color 0.3s;
}

.close-icon:hover {
  color: black;
}

.popup-content {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.popup-actions {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 15px;
  margin-top: 20px;
}

/* Estilo dos botões */
.task-button,
.task-remove-button {
  padding: 10px 15px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  min-width: 100px;
}

.task-button {
  background-color: #007bff;
  color: white;
  transition: background-color 0.3s;
}

.task-button:hover {
  background-color: #0056b3;
}

.task-remove-button {
  background-color: tomato;
  color: white;
  transition: background-color 0.3s;
}

.task-remove-button:hover {
  background-color: crimson;
}

/* Outros ajustes */
.icon-button {
  font-size: 1em;
  margin-left: 10px;
  cursor: pointer;
  color: #666;
  transition: color 0.3s;
}

.icon-check{
  color: rgb(8, 179, 8);
  font-size: 1rem;;
}

.icon-button:hover {
  color: #333;
}

.toggle-chevron-button{
  font-size: .8em;
  cursor: pointer;
  color: #666;
  transition: color 0.3s;
}
